div {
    margin: 1rem;
}
ul {
    padding-left: 1rem;
    margin: 0.5rem;
}
li {
    list-style-type: circle;
    margin-bottom:1rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.5rem;
}
* {
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
}

.no-bullet li {
    list-style-type: none;
    margin-bottom: 0.3rem;
}
.experience p {
    margin-top: 0rem;
    margin-bottom: 0.65rem;
}